@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.loading {
    color: #9904ea;
     
    font-size: 23px;
    // font-size: 40px; 
    // text-align: center;
    font-family: "Roboto", sans-serif;
}

.frontend-table {
    h2 {
        text-align: center;
        text-transform: capitalize;

        font-family:    "Roboto", sans-serif;
        color: orangered;
    }

    table {
        width: 100%;

        border-collapse: collapse;
        font-family: "Roboto", sans-serif;
    }

    th,
    td {
        padding: 8px;
        border: 1px solid var(--border-color, #000);
        color: var(--text-color, #000);
    }

    th {
        background-color: var(--header-color, #ade48e);
        font-weight: bold;

        text-align: center;
    }
}